/* Normalize */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, figure, form, fieldset, input, p, blockquote, th, td, legend {
	margin: 0;
	padding: 0;
}
body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 3.0em;
}
h2 {
    font-size: 1.5em;
}
p { line-height: 1.4em; margin-bottom: 1.0em; }
a { color: #821122; }

.headline {
	width:100%: 
	height:60px; 
	color:white; 
	background-color:#989898 ;
}
#content {
    position: absolute;
    width: 90%;
    left: 5%;
}
#filters {
    font-weight: bold;
    margin-bottom: 20px;
}

#vis {
    min-height: 500px;
    float: left;
}
#stories {
    width: 300px;
    min-height: 500px;
    float: right;
}
#stories .name {
    font-size: 1.5em;
    font-weight: bold;
}

path {
    stroke: #a3a3a3;
    stroke-width: 0.9px;
    stroke-opacity: 0.1;
	fill: none;
}
path.current, path.highlight.current {
    stroke: #CB181D;
    stroke-width: 1.7px;
    stroke-opacity: 1;
}
.highlight {
    stroke: #FB6A4A;
    stroke-opacity: 1;
    stroke-width: 1px;
}
.selected {
    stroke: #FB6A4A;
    stroke-opacity: 1;
    stroke-width: 1px;
}

line {
    stroke: black;
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}
.axis {
    stroke-width: 0.5;
    stroke: #000;
}
.xTicks, .yTicks {
    stroke-width: 0.5;
    stroke: #000;
}
#cite { font-size: 0.8em; text-align: right; margin-top:10px; padding-bottom: 20px; }
#cite a { background: #e2e2e2; text-decoration: none; color: #821122; }

table.border { 
    border-collapse:collapse; 
}
table.border td {
    border-top: solid 1px #a3a3a3;
    border-bottom: solid 1px #a3a3a3;
    padding:5px; 
}
table.border td:hover {
    cursor:pointer;
}

table.paddedtable td {
    padding-right:20px;
}

#profile {
    width: 500px;
    margin: 0 auto;
}
#profile-pic {
    float: left;
}
#basic-info {
    float: left;
}
#story {
    
}

.next {
    position: fixed;
    right: 0;
    top: 50%;
}

.next img {
	width:50px; 
	height:150px; 
	margin-top:-75px; 
	opacity:0.5; 
}

.next img:hover {
	cursor:pointer; 
	opacity:1.0; 	
}